body {
    background-image: url("../images/galaxy.png");
    background-size: cover;
}

h1 {
    text-shadow: 0 0 5px #fff;
    font-size: 3em;
}

.governor, .colonies, .facilities, .facility_inventory, .space_cart {
    background-color: rgb(0, 0, 0, 0.75);
    border: solid 3px #000;
    border-radius: 5px;
    box-shadow: 0 0 7px #fff;
    color: #fff;
}