#container {
    display: grid;
    grid-template-areas:
     "a a"
     "b c"
     "e h"
     "g h";
    grid-template-columns: 33% 33%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.banner {
    grid-area: a;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1%;
    text-decoration: underline;
}
.governor{
    grid-area: b;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.colonies {
    order: 1;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.facilities {
    grid-area: e;
    display: inline-flex;
    align-items: center;
    border: solid black 1px;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
ul {
    list-style-type: none;
}
.facility_inventory{
    grid-area: g;
    display: inline-flex;
    border: solid black 1px;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    }
.space_cart {
    grid-area: h;
    border: solid black 1px;
    display: inline-flex;
    justify-self: flex-end-;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.facility_html {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%                                                          ;
}
select {
    margin-bottom: 2%;
}
h2 {
    text-decoration: underline;
}
#purchase_button {
}
    