#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1%;
    text-decoration: underline;
}
.governor{
    order: 1;
    width: 35%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.colonies {
    order: 2;
    width: 35%;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

.facilities {
    order: 3;
    display: inline-flex;
    width: 35%;
    border: solid black 1px;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
ul {
    list-style-type: none;
}
.facility_inventory{
    justify-self: left;
    order: 5;
    display: inline-flex;
    width: 35%;
    border: solid black 1px;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
.space_cart {
    order: 4;
    width: 35%;
    border: solid black 1px;
    display: inline-flex;
    justify-self: flex-end-;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}
select {
    margin-bottom: 2%;
}